body{
  .container{
    .body{
      .body-article{
        @include claro;
        margin: $margin;
        padding: $padding;
        border-radius: $border;
        .article-title{
          h3{
            text-align: center;
          }
          .article-title-dates{
            @include flex;
            justify-content: space-between;
            margin-top: $margin;
            margin-bottom: $margin;
            .article-date{

            }
            .article-auth{

            }
          }
        }
        .article-description{
          text-align: justify;
        }
        .article-body{
          text-align: justify;
        }

      }
      .section-article-suggestion{
        margin: $margin;
        .article-item-suggestion{
          margin-bottom: $margin;
          padding: $padding;
          @include oscuro;
          border-radius: $border;
          .article-item-suggestion-title{
            h2{

              a{
                text-decoration: none;
              }
            }
          }
          .article-item-suggestion-description{
            p{
              text-align: justify;
            }
          }
        }
      }
    }
    .body-articles{
      margin: 0 $margin 0 $margin;
      @include flex;
      justify-content: space-between;
      .article-item{
        width: 44%;
        padding: $padding;
        margin-bottom: $margin;
        @include claro;
        border-radius: $border;
        .article-item-title{
          h3{
            text-align: center;
          }
        }
        .article-item-description{
          margin-top: $margin;
          margin-bottom: $margin;
          p{
            text-align: justify;
          }
        }
        .article-item-footer{
          @include flex;
          justify-content: space-between;
          .article-item-date{
            background-color: $color-fondo;
            color:$color-3;
            border-radius: $border;
            padding: 3px;
            width: 100px;
            text-align: center;
            font-size: 0.8em;
            line-height: 2;
          }
          .article-item-link{
            text-align: right;
            a{

              transition: $transition;
              @include link;
            }
          }
        }
      }

    }
  }
}
