body{
  .container{
    .aside{
      @include flex;
      .aside-content{
        margin-right: $margin;
        margin-top: $margin;
        margin-bottom: $margin;
        padding: $padding;
        @include claro;
      }
    }
  }
}
