body{
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:"header header header"
                            "body body aside"
                            "footer footer footer";
        .header{
            grid-area: header;
        }
        .body{
            grid-area: body;
            margin-left: $margin;
            margin-right: $margin;
            padding: $padding;
        }
        .aside{
            grid-area: aside;
            margin-right: $margin;
        }
        .footer{
            grid-area: footer;
            padding: $padding;
        }
    }
}