body{
    .container{
        .header{
            background-color:$color-1;
            text-align: center;
            margin-bottom: $margin;
            padding: $padding;
            .header-title{
                color:$color-4;
            }
            .header-description{
                
            }
        }
    }
}