@mixin shadow {
    box-shadow: 1px 1px 10px rgba($color-2, 0.3);
}
@mixin title-1 {
    color:$color-2;
}
@mixin label {
    background-color: $color-4;
    margin-left: $margin/3;
    margin-right: $margin/3;
    padding: $padding/3;
    border-radius: $radius;
    color:$color-1;
    font-size: $f-small;
}