// https://colorhunt.co/palette/145544

//PALETA COLORES
$color-1:#8adfdc;
$color-2: #313848;
$color-3: #735372;
$color-4: #8f758e;

$link:cian;

$color-f: black;
$color-white: white;



//FUENTES
@import url("https://fonts.googleapis.com/css?family=Roboto");
$font: 'Roboto', sans-serif;
$f-normal:1em;
$f-small:0.7em;
$f-long:1.5em;
//ANIMACIONES
$transition: 0.5s;
//MARGIN & PADDING
$margin: 20px;
$padding:20px;

//RADIUS
$radius: 4px;
