// https://colorhunt.co/palette/85473 palette colors

//PALETA COLORES
$color-1:#40514e;
$color-2: #11999e;
$color-3: #30e3ca;
$color-4: #e4f9f5;

$color-f: black;
$color-fondo: white;


//FUENTES
@import url("https://fonts.googleapis.com/css?family=Roboto");
$font: 'Roboto', sans-serif;
//ANIMACIONES
$transition: 0.5s;
//MARGIN & PADDING
$margin: 20px;
$padding:20px;

//RADIUS
$border: 4px;
