.aside
    <b:section id="Aside">
        <b:includable id="main">
            <b:include name="auth"/>
        //- TODO: sOLUCIONAR PORBLEMAS DE MOSTRADO DE AUTOR Y CON WIDGET
        </b:includable>
        <b:includable id="auth">
            <b:if cond="data:view.isHomepage">
            .hola Lorem ipsum dolor sit amet consectetur adipisicing elit. Et doloremque, laborum animi necessitatibus molestias aperiam eligendi unde pariatur dolorum dolorem veniam a corrupti repellat tempora, hic repellendus quasi fugit, delectus tempore laboriosam ipsa aliquam. Sed, placeat. Ipsam quo sit officia repellat ipsum! Alias voluptates, mollitia sed reprehenderit quaerat numquam ad.
            </b:if>
        </b:includable>
    </b:section>