<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <b:skin>
            include ../css/estilos.css
        </b:skin>
        include head
    body
        .container
            include header
            include body
            include aside
            include footer